<!-- Navigation -->
<nav class = "navbar navbar-default navbar-fixed-top">
	<div class = "container ">
		<!-- Brand and toggle get grouped for better mobile display -->

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class = "collapse navbar-collapse" id = "bs-example-navbar-collapse-1">
			<ul class = "nav navbar-nav navbar-right">
				<li class = "hidden">
					<a href = "#page-top"></a>
				</li>
				<li class = "page-scroll">
					<a href = "#portfolio">11Portfolio</a>
				</li>
				<li class = "page-scroll">
					<a href = "#about">About</a>
				</li>
				<li class = "page-scroll">
					<a href = "#contact">Contact</a>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>

<!-- Header -->
<header class="document-edit">
	<div class = "container document-edit">
		<div class="row">
			<div class="col-md-8 edit-cv">
				<div ng-include="'/views/templates/cv_template.html'"></div>
			</div>
			<div class="col-md-3 col-md-offset-1 edit-menu">
				<div class="panel panel-default">
					<div class="panel-body">
						<div>
							<div class="input-group">
								<span class="input-group-addon">http://domain.com/</span>
								<input type="text" class="form-control" placeholder="URL">
							</div>
						</div>
						<div class="text-left">
							<h5>Fields:</h5>
							<label><input type="checkbox">Field name</label><br>
							<label><input type="checkbox">Field name</label><br>
							<label><input type="checkbox">Field name</label><br>
							<label><input type="checkbox">Field name</label><br>
							<label><input type="checkbox">Field name</label><br>
							<label><input type="checkbox">Field name</label><br>
							<label><input type="checkbox">Field name</label><br>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
</header>