<!-- Navigation -->
<nav class = "navbar navbar-default navbar-fixed-top">
	<div class = "container ">
		<!-- Brand and toggle get grouped for better mobile display -->

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class = "collapse navbar-collapse" id = "bs-example-navbar-collapse-1">
			<ul class = "nav navbar-nav navbar-right">
				<li class = "hidden">
					<a href = "#page-top"></a>
				</li>
				<li class = "page-scroll">
					<a href = "#portfolio">11Portfolio</a>
				</li>
				<li class = "page-scroll">
					<a href = "#about">About</a>
				</li>
				<li class = "page-scroll">
					<a href = "#contact">Contact</a>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>

<!-- Header -->
<header class="document-edit">
	<div class = "container document-edit">
		<div class="row">
			<div class="col-xs-8 col-sm-6 edit-cv">
				<div class = "row head-info">
					<div class = "col-md-6 col-md-offset-3"><h3>Lopachuck Nikolay</h3></div>
					<div class = "col-md-6 col-md-offset-3"><span class = "title">Email: </span><span
							class = "value">test@test.ru</span></div>
					<div class = "col-md-6 col-md-offset-3"><span class = "title">Github: </span><span class = "value">asdas</span>
					</div>
					<div class = "col-md-6 col-md-offset-3"><span class = "title">Skype: </span><span class = "value">asdas</span>
					</div>
					<div class = "col-md-6 col-md-offset-3"><span class = "title">Telephone: </span><span class = "value">asdas</span>
					</div>
				</div>

				<div class = "row text-separator">
					<div class = "col-md-6 col-md-offset-3"><h6>Work history</h6></div>
				</div>

				<div class = "row work-block">
					<div class = "col-md-1 col-md-offset-3 work-position "> Java Dev</div>
					<div class = "col-md-3 col-md-offset-2 work-time ">2014 - now</div>

					<div class = "col-md-1 col-md-offset-3 work-firm ">5brains</div>

					<div class = "col-md-6 col-md-offset-3 work-description">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
						standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
						a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
						remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
						Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
						of Lorem Ipsum.
					</div>

				</div>

				<div class = "row line-separator">
					<div class = "col-md-6 col-md-offset-3"></div>
				</div>



				<div class = "row text-separator">
					<div class = "col-md-6 col-md-offset-3"><h6>Tech skills</h6></div>
				</div>
				<div class = "col-md-6 col-md-offset-3 work-description">
					Java, hui, pizda
				</div>

				<div class = "row text-separator">
					<div class = "col-md-6 col-md-offset-3"><h6>Education</h6></div>
				</div>
				<div class = "col-md-6 col-md-offset-3 work-description">
					Java, hui, pizda
				</div>
			</div>
			<div class=" col-xs-8 col-sm-6 edit-menu">
					<ul>
						<li>12</li>
						<li>12</li>
						<li>12</li>
						<li>12</li>
						<li>12</li>
						<li>12</li>
					</ul>
			</div>

		</div>

	</div>
</header>


<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visble-sm">
	<a class="btn btn-primary" href="#page-top">
		<i class="fa fa-chevron-up"></i>
	</a>
</div>