<div class="cv-body">

	<div class = "row head-info">
		<div class = "col-md-10 col-md-offset-1"><h3>Lopachuck Nikolay</h3></div>
		<div class = "col-md-10 col-md-offset-1"><span class = "title">Email: </span><span
				class = "value">test@test.ru</span></div>
		<div class = "col-md-10 col-md-offset-1"><span class = "title">Github: </span><span class = "value">asdas</span>
		</div>
		<div class = "col-md-10 col-md-offset-1"><span class = "title">Skype: </span><span class = "value">asdas</span>
		</div>
		<div class = "col-md-10 col-md-offset-1"><span class = "title">Telephone: </span><span class = "value">asdas</span>
		</div>
	</div>

	<div class = "row text-separator">
		<div class = "col-md-10 col-md-offset-1"><h6>Work history</h6></div>
	</div>

	<div class = "row work-block">
		<div class = "col-md-1 col-md-offset-1 work-position "> Java Dev</div>
		<div class = "col-md-2 col-md-offset-7 work-time ">2014 - now</div>

		<div class = "col-md-1 col-md-offset-1 work-firm ">5brains</div>

		<div class = "col-md-10 col-md-offset-1 work-description">
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
			standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
			a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
			remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
			Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
			of Lorem Ipsum.
		</div>

	</div>

	<div class = "row line-separator">
		<div class = "col-md-8 col-md-offset-2"></div>
	</div>



	<div class = "row text-separator">
		<div class = "col-md-10 col-md-offset-1"><h6>Tech skills</h6></div>
	</div>
	<div class = "col-md-10 col-md-offset-1 work-description">
		Java, hui, pizda
	</div>

	<div class = "row text-separator">
		<div class = "col-md-10 col-md-offset-1"><h6>Education</h6></div>
	</div>
	<div class = "col-md-10 col-md-offset-1 work-description">
		Java, hui, pizda
	</div>
</div>