.border{
    border: 1px solid black;
}


.linkedin-badge {
    display: inline-block;
    min-width: 10px;
    padding: 2px 5px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #256DA8;
    border-radius: 6px;
}

.resumein-badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #777;
    border-radius: 10px;
}

.cv-body{
    margin: 50px 0 0 0;
}

.head-info{
    text-align: right;
}
    .head-info .title{
        font-weight: bolder;
        font-size: 18px;
    }

    .head-info .value{
        font-size: 15px;
    }

.text-separator{
    margin: 10px 0 10px 0;
}

    .text-separator  div{
        text-align: left;
        background: rgba(0,0,0,0.2);
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }


.line-separator > div{
    border-bottom: 1px solid black;
}

.work-block{
    margin: 20px 0 10px 0;
}

    .work-description{
        text-align: left;
        padding: 10px;
    }
    .work-position{
        padding: 0;
        text-align: left;
        font-weight: bolder;
    }
    .work-time{
        padding: 0;
        text-align: right;
    }
    .work-firm{
        padding: 0;
        text-align: left;
        font-style: italic;
    }    border: 0;
}